name: Provision EC2 with Terraform

on:
  push:
    branches:
      - main  # Runs when code is pushed to the main branch

jobs:
  terraform:
    runs-on: ubuntu-latest
    container: 
      image: hashicorp/terraform:latest  # Running inside a Docker container
    permissions:
      contents: read
      id-token: write  # Required for OIDC authentication

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region : us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.11.2

      - name: Set EC2 Name Variable
        run: echo "TF_VAR_ec2_name=MyGitHubEC2" >> $GITHUB_ENV  # Setting Terraform Variable

      - name: Terraform Init
        run: terraform init
        working-directory: terraform

      - name: Terraform Plan
        run: terraform plan -out=tfplan
        working-directory: terraform

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan
        working-directory: terraform

